
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Cualquiera puede LEER imágenes de los cursos
    match /cursos/{cursoId}/{allPaths=**} {
      allow read: if true; 
    }
    // SOLO los administradores pueden ESCRIBIR (subir, actualizar, borrar)
    match /cursos/{cursoId}/{allPaths=**} {
      allow write: if request.auth.token.admin == true;
    }
  }
}
